
### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3

### Py ###

__pycache__/

